# Archivos del sistema
.DS_Store
Thumbs.db
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Variables de entorno
.env
.env.local
.env.*.local
.env.docker

# Archivos temporales
*.tmp
*.bak
*.cache

# Archivos grandes
*.zip
FrontEnd/Generador.zip
