/*! colors.scss | Vuero | Css ninja 2020-2023 */

:root {
  // layout colors
  --body-color: #f4f4f5;
  --title-grey: #a9abac;
  --background-grey: #fafafa;
  --medium-grey: #ddd;
  --light-grey: #eee;
  --white: #fff;
  --border: hsl(0deg 0% 86%);

  // placeload colors
  --placeload-nuance-from: rgb(0 0 0 / 7%);
  --placeload-nuance-to: rgb(0 0 0 / 15%);
  --placeload-dark-nuance-from: rgb(255 255 255 / 15%);
  --placeload-dark-nuance-to: rgb(255 255 255 / 24%);

  // sidebar HSL (#344258) // hsl(217, 26%, 27%)
  @include colorHsl('sidebar', 217, 26%, 27%);

  // primary HSL (#29ab8d) // hsl(166, 61%, 42%)
  @include colorHsl('primary', 222, 82%, 56%);

  // primary-grey HSL (#ccc) // hsl(0, 0%, 80%)
  @include colorHsl('primary-grey', 0, 0%, 80%);

  // secondary HSL (#346beb) // hsl(222, 82%, 56%)
  @include colorHsl('secondary', 166, 61%, 42%);

  // purple HSL (#8269b2) // hsl(261, 32%, 55%)
  @include colorHsl('purple', 261, 32%, 55%);

  // blue HSL (#37c3ff) // hsl(198, 100%, 61%)
  @include colorHsl('blue', 198, 100%, 61%);

  // red HSL (#f92b60) // hsl(345, 94%, 57%)
  @include colorHsl('red', 345, 94%, 57%);

  // orange HSL (#ffa981) // hsl(19, 100%, 75%)
  @include colorHsl('orange', 19, 100%, 75%);

  // yellow HSL (#ffd66e) // hsl(43, 100%, 72%)
  @include colorHsl('yellow', 43, 100%, 72%);

  // green HSL (#93e088) // hsl(113, 59%, 71%)
  @include colorHsl('green', 113, 59%, 71%);

  // pink HSL (#ff9eb8) // hsl(344, 100%, 81%)
  @include colorHsl('pink', 344, 100%, 81%);

  // light-blue HSL (#77d2f3) // hsl(196, 84%, 71%)
  @include colorHsl('light-blue', 196, 84%, 71%);

  // lime HSL (#90e0d0) // hsl(168, 56%, 72%)
  @include colorHsl('lime', 168, 56%, 72%);

  // dark HSL (#283252) // hsl(226, 34%, 24%)
  @include colorHsl('dark', 226, 34%, 24%);

  // link HSL (#485fc7) // hsl(229, 53%, 53%)
  @include colorHsl('link', 229, 53%, 53%);

  // info HSL (#039be5) // hsl(200, 97%, 45%)
  @include colorHsl('info', 200, 97%, 45%);

  // success HSL (#06d6a0) // hsl(164, 95%, 43%)
  @include colorHsl('success', 164, 95%, 43%);

  // warning HSL (#faae42) // hsl(35, 95%, 62%)
  @include colorHsl('warning', 35, 95%, 62%);

  // danger HSL (#e62965) // hsl(341, 79%, 53%)
  @include colorHsl('danger', 341, 79%, 53%);

  // smoke-white HSL (#fcfcfc) // hsl(0, 0%, 99%)
  @include colorHsl('smoke-white', 0, 0%, 99%);

  // placeholder HSL (#cecece) // hsl(0, 0%, 81%)
  @include colorHsl('placeholder', 0, 0%, 81%);

  // muted-grey HSL (#999) // hsl(0, 0%, 60%)
  @include colorHsl('muted-grey', 0, 0%, 60%);

  // fade-grey HSL (#ededed) // hsl(0, 0%, 93%)
  @include colorHsl('fade-grey', 0, 0%, 93%);

  // widget-grey HSL (#f5f6fa) // hsl(228, 33%, 97%)
  @include colorHsl('widget-grey', 228, 33%, 97%);

  // dark-text HSL (#283252) // hsl(226, 34%, 24%)
  @include colorHsl('dark-text', 226, 34%, 24%);

  // dark-dark-text HSL (#aaaab3) // hsl(240, 6%, 68%)
  @include colorHsl('dark-dark-text', 240, 6%, 68%);

  // light-text HSL (#a2a5b9) // hsl(232, 14%, 68%)
  @include colorHsl('light-text', 232, 14%, 68%);

  // dark-sidebar HSL (#232326) // hsl(240, 4%, 14%)
  @include colorHsl('dark-sidebar', 240, 4%, 14%);

  // landing-xxx HSL (#0c0e14) // hsl(225, 25%, 6%)
  @include colorHsl('landing-xxx', 225, 25%, 6%);

  // landing-yyy HSL (#191c2b) // hsl(230, 26%, 13%)
  @include colorHsl('landing-yyy', 230, 26%, 13%);

  // COLORES EN MODO LIGHT

  /* Otros colores:   191, 9%, 64%    165, 4%, 81%    0, 0%, 93%   180, 5%, 92%   */
  @include colorHsl('fondo-pagina-Light', 40, 8%, 92%);

  /* Otros colores:   165, 4%, 81%    hsl(206, 14%, 52%)  206, 18%, 35%   27, 22%, 90%  180, 5%, 72%  222,47%,28% */
  @include colorHsl('fondo-sidebar-Light', 222, 27%, 35%);

  /*Otros colores:  206, 18%, 35%     26, 8%, 84%     60, 3%, 86%   180, 5%, 84% */
  @include colorHsl('fondo-etiquetas-Light', 60, 3%, 86%);

  /*Otros colores:  36, 24%, 96%  */
  @include colorHsl('fondo-buscador-Light', 36, 24%, 96%);

  /*Otros colores:  hsl(0, 0%, 21%)  #0C7075   #0F969C  225, 73%, 57% */
  @include colorHsl('fondo-elemTabla-Light', 36, 24%, 96%);

  /*Otros colores:  227, 23%, 60%  */
  @include colorHsl('fondo-hover-elemTabla-Light', 227, 23%, 60%);

  /*Otros colores:  #6DA5C0  222, 47%, 32% */
  @include colorHsl('fondo-select-elemTabla-Light', 222, 47%, 34%);

  /*Otros colores:  #6DA5C0  222, 47%, 32% */
  @include colorHsl('color-icon-Light', 75, 6%, 63%);

  // Otros colores:  165, 4%, 81%  0, 0%, 100% //
  @include colorHsl('texto-EnLight', 165, 4%, 81%);

  // Otros colores: var(--dark-sidebar-light-6)  #05161A   #0C7075
  @include colorHsl('fondo-tabla-regis-Light', 206, 18%, 35%);

  // Otros colores: rgb(184, 18, 18)
  @include colorHsl('disconect-color-Light', 0, 75%, 58%);

  // Otros colores:  55, 96%, 43%
  @include colorHsl('icono-activo-Light', 55, 96%, 43%);

  // Otros colores: hsl(55, 96%, 43%)
  @include colorHsl('Color-titulo-control-Light', 255, 46%, 45%);

  // Otros colores: 206, 30%, 21%
  @include colorHsl('fondo-botones-Light', 200, 80%, 12%);

  // COLORES EN MODO DARK

  /* Otros colores:   var(--dark-sidebar-light-10)  #072E33   #294D61 */
  @include colorHsl('fondo-pagina', 206, 45%, 12%);

  /* Otros colores:   var(--dark-sidebar) */
  @include colorHsl('fondo-sidebar', 200, 64%, 6%);

  /*Otros colores:  var(--dark-sidebar)   #294D61    #072E33 */
  @include colorHsl('fondo-etiquetas', 206, 30%, 21%);

  /*Otros colores:  */
  @include colorHsl('fondo-buscador', 206, 18%, 35%);

  /*Otros colores:  hsl(0, 0%, 21%)  #0C7075   #0F969C */
  @include colorHsl('fondo-elemTabla', 206, 18%, 35%);

  /*Otros colores:  (0, 1%, 27%)  191, 9%, 64%  */
  @include colorHsl('fondo-hover-elemTabla', 206, 20%, 45%);

  /*Otros colores:  #6DA5C0  */
  @include colorHsl('fondo-select-elemTabla', 205, 40%, 40%);

  // Otros colores: dark-text HSL (#283252) // hsl(226, 34%, 24%)
  @include colorHsl('texto-Endark', 165, 4%, 81%);

  // Otros colores: var(--dark-sidebar-light-6)  #05161A   #0C7075
  @include colorHsl('fondo-tabla-regis', 206, 18%, 35%);

  // Otros colores: rgb(184, 18, 18)
  @include colorHsl('disconect-color', 0, 75%, 58%);

  // Otros colores:  55, 96%, 43%
  @include colorHsl('icono-activo', 50, 100%, 50%);

  // Otros colores: hsl(55, 96%, 43%)
  @include colorHsl('Color-titulo-control', 255, 46%, 45%);

  // Otros colores: 206, 30%, 21%
  @include colorHsl('fondo-botones', 200, 80%, 12%);
}
